/* место для вашего кода */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
    margin: 0;
    padding: 0;
}

/* .lence {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
} */

.header {
    width: 95,64%;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    margin: 92px 24px 96px 24px;
}

.nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.13px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 44px  48px 40px 26px;
}

.list-item {
    list-style-type: circle;
    margin-left: 32px;
    text-decoration: underline;
}

.list-item-no-style {
    list-style-type: none;
    margin-left: 26px;
    text-decoration: none;
}

.list-link {
    text-decoration: none;
    color: #000;
}

.image-container {
    width: 148px;
    height: 105px;
    margin-right: 185px;
}

.contacts {
    margin: 5px 0 2px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

.contacts-item {
    list-style-type: none;
}

.contacts-link {
    color: #000;
    text-decoration: underline;
}

.image-section {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cover.jpg);
    /* не понял как переопределить линзу, если указывать background-image она 
    перекрывает линзу и все, пытался указать линзу как доп класс, но она просто перекрывает картинку если 
    поместить ее в самый низ кода */
    background-size: cover;
    height: 757px;
    width: 1100px;
    margin: 0 0 179px 0;
}

.image-section-span {
    display: block;
    width: 100%;
    min-height: 115px;
    text-transform: uppercase;
}

.image-section-text-space-left {
    padding-left: 30px;
}

.space-left {
    padding-left: 60px;
}

.image-letter-space {
    padding-right: 60px;
}

.image-section-title-container {
    padding: 165px 50px 0 50px;
}

.section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 100px;
    line-height: 115px;
    color: #fff;
}

.image-section-span-center {
    text-align: center;
}

.image-section-span-right {
    text-align: right;
}

.section-image-text-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 135px 0 0 0; 
    align-items: baseline;
}

.section-text-item {
    display: flex;
    flex-wrap: wrap;
    width: 637px;
    justify-content: space-between;
    color: #fff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}

.section-button-item {
    margin: 0 0 52px 0;
}

.section-image-button {
    display: block;
    width: 256px;
    height: 51px;
    cursor: pointer;
    background: transparent;
    background-color: transparent;
    color: #fff;
    border: 1px solid currentColor;
    font-family: 'Raleway', sans-serif;
    line-height: 22.83px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
}

    
.section-image-button:hover {
    border-color: rgb(0, 255, 140);
}

.section-lots {
    margin: 0 24px 148px 24px;
}

.lots-cards-container {
    display: flex;
    gap: 25px;
}

.section-lots-title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 46.96px;
    font-size: 40px;
    font-weight: 700;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lot-title {
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    line-height: 26.4px;
    font-size: 22px;
    font-weight: 700;
    margin: 51px 40px 0 40px;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 400;
}

.left-lot {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.jpg);
    width: 334px;
    min-height: 563px;
    background-size: 170%;
    background-repeat: no-repeat;
    background-position: center;
}

.left-lot-title-text {
    display: block;
    margin-top: 238px;
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

.center-lot {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.jpg);
    width: 334px;
    min-height: 563px;
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: center;
}

.center-lot-title-text {
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
}

.right-lot {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.jpg);
    width: 334px;
    min-height: 563px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.right-lot-title-text {
    color: #fff;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 90px;
}

.lots-link {
    display: block;
    margin: 30px 0 0 40px;
    font-family: 'Raleway', sans-serif;
    line-height: 23.48px;
    font-size: 20px;
    font-weight: 400;
}

.about {
    width: 1052px;
    margin: 0 24px 0 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 181px;
}

.about-image-container {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: #000;
    background-image: url(../images/logo-white.svg);
    background-size:65%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 35px 72px 0 47px;
}

.about-container {
    width: 693px;
    margin-top: 136px;
}

.about-title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 100px;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: nowrap;
}

.footer-container {
    width: 1000px;
    margin: 0 50px 88px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 185px; */
}

.footer-list-item {
    list-style-type: none;
    text-decoration: underline;
}

.footer-list-item-no-style {
    list-style-type: none;
    padding: 0 41px 0 41px;
    text-decoration: none;
}

.footer-list-item-padding {
    padding: 0 20px 0 20px;
}

.footer-list-link {
    text-decoration: none;
    color: #000;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.yt, .vk,  .pin{
    width: 48px;
    height: 48px;
    background-image: url(../images/yt.svg);
}

.vk {
    background-image: url(../images/vk.svg);
}

.pin {
    background-image: url(../images/pinterest.svg);
}